@{
    ViewBag.Title = "GET /api/subscriptions/apps";
}

<h1>@ViewBag.Title</h1>

<p class="apidesc">Unauthenticated resource that returns a full list of subscribed application names.</p>

<p><strong>Note</strong>: This method does not currently implement paging, but will in the future.</p>

<h1>Examples</h1>
<pre class="codeexample">
# Request
GET https://www.letmelogthatforyou.com/api/subscriptions/apps

# Response
{
  "Apps": [
    "LetMeLogThatForYou",
    "MyApp"
  ],
  "Success": true
}
</pre>