@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>How to get in touch.</h2>
</hgroup>

<section class="contact">
    <header>
        <h2>Bryan Richter</h2>
        <h3>Princeton Undergraduate, Class of 2013</h3>
    </header>
    <p>
        <span class="label">Email:</span>
        <span><a href="mailto:bwrichte@princeton.edu">bwrichte@princeton.edu</a></span>
    </p>
    <p>
        <span class="label">Webpage:</span>
        <span><a href="http://www.linkedin.com/pub/bryan-richter/69/595/b90">LinkedIn</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h2>Ed Felten</h2>
        <h3>Advisor, Princeton Center for Information Technology Policy Director</h3>
    </header>
    <p>
        <span class="label">Email:</span>
        <span><a href="mailto:felten@cs.princeton.edu">felten@cs.princeton.edu</a></span>
    </p>
    <p>
        <span class="label">Webpage:</span>
        <span><a href="http://www.cs.princeton.edu/~felten/">Princeton CS Webpage</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h2>Support</h2>
        <h3><span class="smallcaps">Let Me Log That For You</span></h3>
    </header>
    <p>
        <span class="label">Email:</span>
        <span><a href="mailto:letmelogthatforyou@gmail.com">LetMeLogThatForYou@gmail.com</a></span>
    </p>
</section>